<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
  <backgroundcolor>aliceblue</backgroundcolor>
  <defaultcontrol always="true">52</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <include>OpenClose</include>
  <controls>
    <include>BlackBackground</include>
    <control type="label">
      <left>1060</left>
      <top>30</top>
      <height>81</height>
      <font>size42</font>
      <label>5</label>
    </control>
    <control type="group">
      <left>1020</left>
      <top>130</top>
      <control type="list" id="52">
        <width>902</width>
        <height>891</height>
        <onleft>noop</onleft>
        <onright>noop</onright>
        <onup>52</onup>
        <ondown>52</ondown>
        <pagecontrol>60</pagecontrol>
        <viewtype label="_52">52</viewtype>
        <movement>5</movement>
        <preloaditems>4</preloaditems>
        <scrolltime tween="sine" easing="inout">280</scrolltime>
        <itemlayout width="802" height="81">
          <control type="image">
            <height>70</height>
            <width>840</width>
            <texture colordiffuse="77FFFFFF">images/White.png</texture>
          </control>
          <control type="label" description="Main Label">
            <include>52MainLabel</include>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </itemlayout>
        <focusedlayout width="802" height="81">
          <control type="group">
            <animation effect="zoom" time="120" start="100" end="105" center="auto" tween="Back" easing="Out">Focus</animation>
            <control type="image">
              <top>12</top>
              <left>-50</left>
              <height>70</height>
              <width>940</width>
              <texture>shadow.png</texture>
            </control>
            <control type="image">
              <height>70</height>
              <width>840</width>
              <texture>images/White.png</texture>
            </control>
            <control type="label" description="Main Label">
              <include>52MainLabelFO</include>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </control>
        </focusedlayout>
        <content>
          <item>
            <label>$LOCALIZE[14201]</label>
            <onclick>ActivateWindow(PlayerSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14212]</label>
            <onclick>ActivateWindow(MediaSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14205]</label>
            <onclick>ActivateWindow(PVRSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14208]</label>
            <onclick>ActivateWindow(ServiceSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[15016]</label>
            <visible>System.GetBool(gamesgeneral.enable)</visible>
            <onclick>ActivateWindow(GameSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14207]</label>
            <onclick>ActivateWindow(InterfaceSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14210]</label>
            <onclick>ActivateWindow(Profiles)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[14209]</label>
            <onclick>ActivateWindow(SystemSettings)</onclick>
          </item>
          <item>
            <label>LibreELEC</label>
            <onclick>RunAddon(service.libreelec.settings)</onclick>
            <visible>System.HasAddon(service.libreelec.settings)</visible>
          </item>
          <item>
            <label>openELEC</label>
            <visible>System.HasAddon(service.openelec.settings)</visible>
            <onclick>RunAddon(service.openelec.settings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[138]</label>
            <onclick>ActivateWindow(systeminfo)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[10003]</label>
            <onclick>ActivateWindow(filemanager)</onclick>
            <icon>icons/settings/filemanager.png</icon>
          </item>
        </content>
      </control>
    </control>
    <control type="image" description="Logo">
      <animation effect="fade" time="100">VisibleChange</animation>
      <centerleft>500</centerleft>
      <centertop>540</centertop>
      <width>500</width>
      <height>500</height>
      <aspectratio>keep</aspectratio>
      <texture background="true">images/XBMCLogo.png</texture>
    </control>
  </controls>
</window>
